<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Website Enquiry"}} @-->

{{template config_path="design/email/header_template"}}

<table cellpadding="0" cellspacing="0" style="width: 100%">
    <tr>
        <td>
            <table cellpadding="0" cellspacing="0" border="0" style="width: 100%">
                <tr>
                    <td class="action-content">
                        <table cellspacing="0" cellpadding="0" border="0">
                            <tr>
                                <td valign="top" style="padding:20px 10px">
                                    <h2 style="font-size:22px; font-weight:normal; line-height:22px; margin:0 0 11px 0;">Dear Admin</h2>
                                    <p>You have received a new product inquiry from <strong>{{var data.name}}</strong></p>
                                    
                                </td>
                            </tr>
                        </table>
                        <table cellspacing="0" cellpadding="0" border="1" width="100%">
                            {{var data.contact_form|raw}}
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

{{template config_path="design/email/footer_template"}}