<!--
/**
 * Copyright © 2016 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<!--@subject {{trans "Website Enquiry"}} @-->


{{template config_path="design/email/header_template"}}

Dear {{trans "%name" name=$data.name}},<br /><br />

Thank you for sending your quote request, we look forward to providing you custom print options.<br /><br />

Our team will be in touch with you shortly.<br/>
For urgent quote requests, please contact us directly by phone<br/><br/>

Kind Regards,<br/><br/>
Customer Support<br/>


{{template config_path="design/email/footer_template"}}

