<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Custom_Inquiries::contacts" title="Manage Contact Requests" module="Custom_Inquiries" sortOrder="10" action="inquiries/product/contacts" resource="Custom_Inquiries::resources"/>
    </menu>
</config>
