<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <virtualType name="Custom\Inquiries\Model\ResourceModel\Contact\Grid\CollectionNonExistClass" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">inquiries_contacts</argument>
            <argument name="resourceModel" xsi:type="string">Custom\Inquiries\Model\ResourceModel\Contact</argument>
        </arguments>
    </virtualType>
    

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="inquiries_contacts_grid_data_source" xsi:type="string">Custom\Inquiries\Model\ResourceModel\Contact\Grid\CollectionNonExistClass</item>
            </argument>
        </arguments>
    </type>
</config>